* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

head {
    background-color: #222;
    color: white;
    position: fixed;
    width: 100%;
}